extends layout

block headerContents
  link(rel='stylesheet', href='/css/app.css')
  link(rel='stylesheet', href='/css/consultoria.css')
  link(rel='stylesheet', href='/css/responsive.css')

block content
  #floating-info
    p
      | Tabasco 242, Roma Norte
      br
      |   info@steed.mx 
      br
      |  55
      span.num-divisor -
      | 2259
      span.num-divisor -
      | 6898
  #floating-contactUs
    a(href="/cotiza")
      | Cotiza
  #splash-gradient
    #splash-section.parallax(data-section-name='splash')
      #splash
        h1#steed.animated.fadeInLeft steed.
        p#welcome
          | Expertos en volver realidad tu idea de negocio.
          br
          |   Sal al mercado antes que tu competencia.
  #parallax.site-body
    section#section1
      .section-text1(style='margin-top: -8px;')
        p Soluciones
        |       SHARED-ECONOMY ENGINE
    section#section2
      .section-text2(style='margin-top: -511px;')
        | CONSULTURíA
    section#section3
      .section-text3(style='margin-top: -1014px;')
        p Eventos
        |       NUEVO INGENIO MEXICANO
    //
      INICIA SECCIÓN CONSULTORÍA
    #consultoria-container
      //
        .consultoria-title
          div
            p CONSULTORíA
      .whatWeDo-container
        .whatWeDo-title
          p lo que hacemos
          .whatWeDo-title-line
        .whatWeDo-text
          p
            | Nuestro servicio de 
            span.what-we-do-relevant consultoría en innovación 
            | se especializa en la detección de
            | áreas de mejoría en los procesos de nuestros clientes, además de 
            span.what-we-do-relevant desarrollar nuevos productos y servicios 
            | para ayudarles a diferenciarse y crecer.
          p
            span.what-we-do-relevant Nos especializamos en implementar herramientas
              y mecanismos usados en empresas que pertenecen al Fortune 500. 
            | Nuestros procesos han sido implementados exitosamente por consultores
            | de Steed en proyectos desarrollados para la SCT, DeveloPipeline, 
            | RobotiX, ComproPago, Tecnológico de Monterrey, INEA entre otros.
            | En el proceso, hemos generando un 
            span.what-we-do-relevant dominio de experiencia en las industrias financiera
              , educativa y energética.
      .mvpPiramide-container
        .ourVision-title
          | NUESTRA METODOLOGÍA
        .mvpEjemplo-title-line
        .mvpPiramide-explanation
          //
            p
              | Un producto viable mínimo o MVP (del inglés Minimum Viable Product)
              | es la versión de un nuevo producto que permite a un equipo recolectar,
              | con el menor esfuerzo posible, la máxima cantidad de conocimiento validado
              | sobre sus potenciales clientes.
        .mvpPiramide-images
          div
            img(src='/images/mvp_incorrecto.png')
            p
              | cómo 
              span no 
              | atacar el problema
            .mvpPiramide-legend
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nunc est, aliquet eu massa in, facilisis consequat magna. Aliquam finibus leo ut urna malesuada, in luctus dolor egestas. Nam tempor eu diam et vehicula. Aliquam ut sodales arcu. Nulla scelerisque leo sit amet aliquam condimentum.
          div
            img(src='/images/mvp_correcto.png')
            p
              | cómo atacar el problema
            .mvpPiramide-legend
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nunc est, aliquet eu massa in, facilisis consequat magna. Aliquam finibus leo ut urna malesuada, in luctus dolor egestas. Nam tempor eu diam et vehicula. Aliquam ut sodales arcu. Nulla scelerisque leo sit amet aliquam condimentum.
      .mvpEjemplo-container
        .ourVision-title
          | ¿QUÉ ES UN MVP?
        .mvpEjemplo-title-line
        .mvpEjemplo-explanation
          p
            | Un producto viable mínimo o MVP (del inglés Minimum Viable Product)
            | es la versión de un nuevo producto que permite a un equipo recolectar,
            | con el menor esfuerzo posible, la máxima cantidad de conocimiento validado
            | sobre sus potenciales clientes.
          img(src='/images/mpv_web.gif', alt='')
      .ourVision
        .ourVision-title
          | NUESTRA VíSION
        .ourVision-title-line
        .ourVision-image
          img(src='/images/Groupsteed.png', alt='')
        .ourVision-info
          .ourVision-info-item
            p.ourVision-info-item-title DISEÑO
            p.ourVision-info-item-text
              | La empatía del creador para entender al usuario
              | y la esencia del momento. El diseño hace que
              | los productos y servicios sean por una parte
              | estéticamente atractivos y por otra que sea
              | resuelva una necesidad relevante. Permite
              | generar productos y servicios escalables a través
              | de técnicas.
          .ourVision-info-item
            p.ourVision-info-item-title NEGOCIOS
            p.ourVision-info-item-text
              | Un modelo de negocio adecuado permite que un
              | proyecto sobreviva y pueda evolucionar. Un
              | modelo de negocio que funciona comprueba que
              | existe un mercado por satisfacer.
          .ourVision-info-item
            p.ourVision-info-item-title TECNOLOGÍA
            p.ourVision-info-item-text
              | La innovación no necesariamente busca lo último
              | en avances científicos; muchas veces la
              | innovación surge simplemente de mezclar
              | procesos o tecnologías ya existentes en un
              | contextodiferente.
      .clients
        .clients-title CLIENTES
        .clients-title-line
      .consultoria-footer
        .consultoria-contacUs
          p Contáctanos info@steed.mx
        //.consultoria-contactInfo
          p Visítanos Tabasco 242, Roma Norte 55-22-59-68-98
        //.consultoria-socialMediaIcons
          img(src='/images/socialMediaIcons.png', alt='')

block footerScripts
  script(src='/js/scroller.js')
