h2.modal-title#loc-intro-modal-packs
.container
  .row
    div.col-sm-3
      .bundles__header
        h2#loc-intro-modal-bundle1
      .bundles__body
        ul
          li#loc-intro-modal-bundle1-bullet1
          li#loc-intro-modal-bundle1-bullet2
          li#loc-intro-modal-bundle1-bullet3
          li#loc-intro-modal-bundle1-bullet4
          li#loc-intro-modal-bundle1-bullet12
          li#loc-intro-modal-bundle1-bullet10
          li#loc-intro-modal-bundle1-bullet11
          li#loc-intro-modal-bundle1-bullet5
          li#loc-intro-modal-bundle1-bullet6
          li#loc-intro-modal-bundle1-bullet7
          li#loc-intro-modal-bundle1-bullet8
          li#loc-intro-modal-bundle1-bullet9
        .row
          .col-md-3
          .col-md-6.bundles__pricing
            a(href='landing', target='_blank')
              p#loc-intro-modal-quote1
          .col-md-3
    div.col-sm-3
      .bundles__header
        h2#loc-intro-modal-bundle2
      .bundles__body
        ul
          li#loc-intro-modal-bundle2-bullet1
          li#loc-intro-modal-bundle2-bullet2
          li#loc-intro-modal-bundle2-bullet3
          li#loc-intro-modal-bundle2-bullet4
          li#loc-intro-modal-bundle2-bullet12
          li#loc-intro-modal-bundle2-bullet10
          li#loc-intro-modal-bundle2-bullet11
          li#loc-intro-modal-bundle2-bullet5
          li#loc-intro-modal-bundle2-bullet6
          li#loc-intro-modal-bundle2-bullet7
          li#loc-intro-modal-bundle2-bullet8
          li#loc-intro-modal-bundle2-bullet9
        .row
          .col-md-3
          .col-md-6.bundles__pricing
            a(href='landing', target='_blank')
              p#loc-intro-modal-quote2
          .col-md-3
    div.col-sm-3
      .bundles__header
        h2#loc-intro-modal-bundle3
      .bundles__body
        ul
          li#loc-intro-modal-bundle3-bullet13
          li#loc-intro-modal-bundle3-bullet2
          li#loc-intro-modal-bundle3-bullet3
          li#loc-intro-modal-bundle3-bullet4
          li#loc-intro-modal-bundle3-bullet12
          li#loc-intro-modal-bundle3-bullet14
          li#loc-intro-modal-bundle3-bullet10
          li#loc-intro-modal-bundle3-bullet11
          li#loc-intro-modal-bundle3-bullet5
          li#loc-intro-modal-bundle3-bullet6
          li#loc-intro-modal-bundle3-bullet7
          li#loc-intro-modal-bundle3-bullet8
        .row
          .col-md-3
          .col-md-6.bundles__pricing
            a(href='landing', target='_blank')
              p#loc-intro-modal-quote3
          .col-md-3
    div.col-sm-3
      .bundles__header
          h2#loc-intro-modal-bundle4
      .bundles__body
        ul
          li#loc-intro-modal-bundle4-bullet15
          li#loc-intro-modal-bundle4-bullet16
          li#loc-intro-modal-bundle4-bullet17
          li#loc-intro-modal-bundle4-bullet2
          li#loc-intro-modal-bundle4-bullet3
          li#loc-intro-modal-bundle4-bullet4
          li#loc-intro-modal-bundle4-bullet12
          li#loc-intro-modal-bundle4-bullet14
          li#loc-intro-modal-bundle4-bullet10
          li#loc-intro-modal-bundle4-bullet11
          li#loc-intro-modal-bundle4-bullet5
          li#loc-intro-modal-bundle4-bullet6
          li#loc-intro-modal-bundle4-bullet7
          li#loc-intro-modal-bundle4-bullet8
        .row
          .col-md-3
          .col-md-6.bundles__pricing
            a(href='landing', target='_blank')
              p#loc-intro-modal-quote4
          .col-md-3

